<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.debajo.srrradio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".SrrradioApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Srrradio"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.host.HostActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Srrradio">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="ru.debajo.srrradio.ui.host.HostActivity.graphite"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_graphite"
            android:roundIcon="@mipmap/ic_launcher_graphite_round"
            android:targetActivity=".ui.host.HostActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="ru.debajo.srrradio.ui.host.HostActivity.neon"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_neon"
            android:roundIcon="@mipmap/ic_launcher_neon_round"
            android:targetActivity=".ui.host.HostActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="ru.debajo.srrradio.ui.host.HostActivity.wave"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_wave"
            android:roundIcon="@mipmap/ic_launcher_wave_round"
            android:targetActivity=".ui.host.HostActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="ru.debajo.srrradio.ui.host.HostActivity.sand"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_sand"
            android:roundIcon="@mipmap/ic_launcher_sand_round"
            android:targetActivity=".ui.host.HostActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="ru.debajo.srrradio.ui.host.HostActivity.mint"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_mint"
            android:roundIcon="@mipmap/ic_launcher_mint_round"
            android:targetActivity=".ui.host.HostActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="ru.debajo.srrradio.ui.host.HostActivity.dynamic"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_dynamic"
            android:roundIcon="@mipmap/ic_launcher_dynamic_round"
            android:targetActivity=".ui.host.HostActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <service
            android:name=".service.PlayerNotificationService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <receiver
            android:name=".widget.PlayerWidgetReceiver"
            android:enabled="@bool/glance_appwidget_available"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/player_widget_info" />
        </receiver>
    </application>
</manifest>
